<div>
  <link href="./card.css" rel="stylesheet" />
  <div class="card-card">
    <div class="card-info">
      <span class="card-text"><span>Business</span></span>
      <span class="card-text1">
        <span>
          Even if you are not a farmer, we can help to take your business to the
          next level.
        </span>
      </span>
    </div>
  </div>
</div>
