.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-navbar {
  background-color: var(--dl-color-scheme-yellow20);
}
.page-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-container1 {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  margin-right: 14px;
  justify-content: center;
}
.page-image {
  width: 17px;
  height: 25px;
  object-fit: cover;
}
.page-text {
  font-size: 20px;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
}
.page-text01 {
  color: var(--dl-color-scheme-orange100);
}
.page-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.page-link {
  text-decoration: none;
}
.page-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.page-max-width1 {
  align-items: center;
}
.page-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.page-subtitle {
  color: var(--dl-color-scheme-orange100);
  margin-bottom: var(--dl-space-space-unit);
}
.page-title {
  color: var(--dl-color-scheme-white);
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.page-text04 {
  color: var(--dl-color-scheme-lightgreen);
}
.page-description {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.page-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.page-link01 {
  text-decoration: none;
}
.page-link02 {
  text-decoration: none;
}
.page-image1 {
  position: relative;
  padding-bottom: var(--dl-space-space-eightunits);
}
.page-hero-image {
  flex: 1;
  max-width: 550px;
  object-fit: cover;
  border-radius: 48px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.page-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
.page-image2 {
  right: -170px;
  bottom: 0px;
  position: absolute;
  object-fit: contain;
}
.page-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-container3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.page-text05 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.page-link03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-text06 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.page-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .page-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .page-image1 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .page-hero-image {
    margin-bottom: 0px;
  }
  .page-footer {
    flex-direction: column;
  }
  .page-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .page-container3 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .page-links {
    display: none;
  }
  .page-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .page-max-width1 {
    flex-direction: column-reverse;
  }
  .page-content {
    width: 100%;
    margin-right: 0px;
  }
  .page-hero-image {
    margin-right: 0px;
  }
  .page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-container3 {
    width: 100%;
    justify-content: space-between;
  }
  .page-text06 {
    font-weight: 700;
  }
}
@media(max-width: 479px) {
  .page-footer {
    padding: var(--dl-space-space-unit);
  }
  .page-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-container3 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .page-text06 {
    font-weight: 700;
  }
}
